/* General */
body {
  /* padding: 20px 10px; */
  border: 7px solid #ffbc00;
  /* border-bottom: 25px solid #FFBC00; */
  border-bottom: 0px;
  background-color: #fefefe;
  min-height: 100vh;

  position: relative;
}

h1, h2, h3 {
  font-family: 'Graduate', sans-serif;
  text-align: center;
  text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.35);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

a {
  color: #990000;

  font-size: 1.125rem;
}

a:hover {
  color: #990000;
}

hr {
  border-top: 2px solid #990000;
  /* border-color: #990000; */
}

.container-fluid, .container {
  padding-bottom: 2rem;
}

.row.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.flexbox {
  display: flex;
}

/* Header */

.header {
  background-color: #FFBC00;
  padding: 15px;
  margin-bottom: 2rem;
}

.header img {
  width: 90%;
  background-color: #ffbc00;
  /* position: absolute; */
}

.header ul {
  display: flex;
}

.header ul li {
  flex-grow: 1;
}

.header a {
  color: #000;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.35);
  font-size: 1.75rem;
  font-family: 'Graduate', cursive;
  transition: border 200ms;
}

.header a:hover {
  text-decoration: none;

  border-bottom: 2px solid #000;
}

/* Footer */

.footer {
  display: flex;

  background-color: #FFBC00;
  padding: 10px 15px;
  font-size: 0.9rem;

  justify-content: space-between;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: -7px;
  margin-right: -7px;
}

.footer a {
  font-size: 0.9rem;
}

/* Homepage */

.blurb {
  border: 5px solid #990000;
  padding: 15px 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.blurb h2 {
  /* position: absolute; */
  text-align: left;
  font-size: 2rem;
}

.blurb p:last-child {
  margin-bottom: 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Shows */

.shows .show {
  position: relative;
}

.shows img {
  margin-bottom: 3rem;
}

.shows h3 {
  position: absolute;
  z-index: 100;
  top: 2rem;
  right: 1rem;
  transform: rotate(5deg);

  color: #FFBC00;

  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

/* Cast */

.bios {
  flex-wrap: wrap;

  padding: 10px 10%;
}

.bio {
  margin-bottom: 2rem;
}

.bio h3 {
  position: absolute;
  z-index: 100;
  top: 0rem;
  right: 1.5rem;
  transform: rotate(5deg);

  font-size: 4rem;
  color: #FFBC00;
}

.bio img {
  width: 100%;
}

/* Contact */

.blurb.contact, .blurb.contact h2 {
  text-align: center;
}